# replace the values in <> with your own and
# save the file as .db.env

SQL_ENGINE=django.db.backends.postgresql
POSTGRES_HOST=/postgres_socket # can be changed with 'monapps-db'
POSTGRES_PORT=5432
POSTGRES_DB=<your_db>
POSTGRES_USER=<your_user>
POSTGRES_PASSWORD=<your_password>