# replace the values in <> with your own and
# save the file as .env

DJANGO_SUPERUSER_USERNAME=<your username>
DJANGO_SUPERUSER_EMAIL=<your email>
DJANGO_SUPERUSER_PASSWORD=<your password>

PROJECT_TITLE=<your project name>

SECRET_KEY=<your key> # from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())
DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,*

REDIS_URL=redis://monapps-redis:6379
CELERY_BROKER_URL=${REDIS_URL}/2

HEALTH_CHECK_URL=/api/health/

ENABLE_SENTRY=1
